KEYCLOAK_VERSION=26.6.3

NEXTLIFE_DB_USER=admin
NEXTLIFE_DB_PASSWORD=change_me
NEXTLIFE_DB_NAME=nextlife
NEXTLIFE_DB_PORT=5433

NEXTID_DB_NAME=keycloak
NEXTID_DB_USER=keycloak
NEXTID_DB_PASSWORD=change_me

NEXTID_ADMIN_USERNAME=admin
NEXTID_ADMIN_PASSWORD=change_me
NEXTID_HTTP_PORT=8080
