COMPOSE_PROJECT_NAME=nextid

NEXTID_CORE_IMAGE_TAG=latest

NEXTID_DB_NAME=nextid
NEXTID_DB_USER=nextid
NEXTID_DB_PASSWORD=CHANGE_ME_DB

NEXTID_ADMIN_USERNAME=admin
NEXTID_ADMIN_PASSWORD=CHANGE_ME_ADMIN

NEXTID_HOSTNAME=http://login.harran.edu.tr
NEXTID_HOSTNAME_STRICT=false
NEXTID_HTTP_PORT=80
NEXTID_HTTP_ENABLED=true
NEXTID_PROXY_HEADERS=xforwarded

NEXTLOG_AUDIT_URL=http://nextlog.harran.edu.tr/api/audit-events
NEXTLOG_MODULE=nextid
NEXTLOG_INGEST_API_KEY=CHANGE_ME_NEXTLOG
