NEXTID_BASE_VERSION=26.6.3
NEXTID_CORE_IMAGE=ghcr.io/muratdelen/nextid-core

NEXTLIFE_DB_USER=admin
NEXTLIFE_DB_PASSWORD=change_me
NEXTLIFE_DB_NAME=nextlife
NEXTLIFE_DB_PORT=5433

NEXTID_DB_NAME=nextid
NEXTID_DB_USER=nextid
NEXTID_DB_PASSWORD=change_me

NEXTID_ADMIN_USERNAME=admin
NEXTID_ADMIN_PASSWORD=change_me
NEXTID_HTTP_PORT=8080
